/* src/main.css */

/* import TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.app {
  text-align: center;
  padding: 50px;
}

h1 {
  color: #42b983;
}

p {
  color: #555;
}
