@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Helvetica Neue', 'Suisse Int’l', 'Optima', sans-serif;

  color: #3C3C3C;
}

.description {
  font-size: 14px;
  line-height: 1.4;
  color: #666;
  padding: 10px;
}


.desc_title {
  font-size: 14px;
    line-height: 1.4;
    font-family: Suisse Medium, sans-serif;
    color: #333;
    flex-grow: 2;
    margin: 0 0 17px;
}

/* global.css 或对应样式文件中添加 */
.custom-login-modal .ant-modal-content {
  background-color: #f6f5e8;
  padding: 40px;
  border-radius: 0;
  box-shadow: none;
}

.custom-login-modal .ant-modal-close {
  top: 20px;
  right: 20px;
}

